.tab-holder,
.tab-controls,
.tab-wrapper { position: relative; }

.tab-holder .tab { visibility: hidden; position: absolute; top:0; left:0; width: 100%; opacity:0; z-index: -1; display: none;}
.tab-holder .tab.selected { position: static; display: block; opacity:1; visibility: visible; z-index:1;}

.tab-holder { overflow: hidden; }

.tab-controls { z-index: 2; }
.tab-holder { z-index: 1; }