/* hero */

.hero {
	
	border-bottom: 10px solid $darkRedColor;
	min-height: 350px;
	
	.home & {
		height: 100vh;
		min-height:600px;
		@include display( flex );
		@include flex-direction( column );
		@include justify-content( flex-end );
		padding-bottom: 100px;
	}
	
	.caption { 
		width: 600px;
		max-width: 90%;
		text-shadow: 0 0 8px #000;
	}
	
}