$sidebarWidth: 380px !default;
$sidebarCollapseWidth: 800px !default;

$linkColor: #000 !default;
$hoverColor: #000 !default;
$visitedColor: #000 !default;

$darkBackgroundLinkColor: #000 !default;
$darkBackgroundHoverColor: #000 !default;
$darkBackgroundVisitedColor: #000 !default;

/* excerpts */
$excerptColor: #{$bodyContentColor} !default;

/* lists */
$listNumberColor: #000 !default;

/* breadcrumbs */
$breadCrumbColor: #000 !default;
$breadCrumbColorActive: #999 !default;
$breadCrumbColorHover: #333 !default;

/* main body - flexbox */
.main-body {
	@include display(flex);
	
	.content { 
		@include flex( 1 2 ($wrapperWidth - $sidebarWidth) ); 
	}
	.sidebar {
		margin-left: 40px;
		@include flex( 1 1 $sidebarWidth );
	}
	
}

@media screen and (max-width: ($sidebarCollapseWidth) ) {
	.main-body {
		@include flex-wrap( wrap );
		@include justify-content( center );
		.sidebar { 
			margin: 20px 0;
		}
	}
}


.article-body .excerpt,
.article-body blockquote { }

.article-body {

	font-family: $defaultFontStack; 
	color: $bodyContentColor; 
	font-size: 16px; 
	line-height: 1.5;
	
	.dark-bg & { color: $darkBackgroundContentColor; }
	
	.excerpt,
	blockquote { 
		color: $excerptColor; 
		font-size: 18px; 
		line-height: 1.44444; 
		margin-bottom: 15px;
	}
	
	ul,
	ol { margin: 25px 0; list-style:none;}
	
	:not(.lightslider)>li {
		position: relative; 
		margin: 0 0 7px;  
		color: $bodyContentColor; 
		line-height: 1.6;
	}
	

	ul:not(.lightslider) {
	
		>li {
		
			padding-left: 18px;
			
			&:before {
				content:""; 
				width: 6px; height: 6px; 
				border-radius: 3px; 
				background: $listNumberColor; 
				display: block; 
				position: absolute; 
				right: auto; left: 0; top:4px; 
				margin-top: 4px; 
			}
			
			>ul:not(.lightslider) {
				>li {
					&:before {
						background: #a1a1a1; 
					}
				}
			}
			
		}
		
	}
	
	ol {
		counter-reset: li;
		padding-left:10px;
		
		>li {
			list-style-type:none;
			padding-left:10px;
			
			&:before {
				position: absolute; 
				left: -10px; top: 0; 
				content:counter(li); 
				counter-increment:li; 
				color: $listNumberColor; 
				font-weight:bold;
			}
			
			ol {
				>li {
					&:before { content:counter(li, lower-alpha); }
				}
			}
			
		}

	}
		
	p {
		margin-bottom: 15px; 
		font-size: 16px; 
		line-height: 1.5;
		
		+ ul:not(.lightslider),
		+ ol { margin-top:0; }
	}
		
}

.breadcrumbs {

	font-size: 14px; 
	text-transform: uppercase; 
	cursor: default;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4); 
	padding: 18px 0;

	a {
	
		text-decoration: none; 
		color: $breadCrumbColor;
		@include transition( color 0.2s $ease-in-out-sine );
		
		+a:before { 
		
			content:"\00BB"; 
			display: inline-block; 
			color: $breadCrumbColor !important; 
			line-height: 11px; 
			font-size: 22px; 
			margin-right: 3px;
			vertical-align: baseline; 
			
		}
		
		&:first-child { padding-left:0; }
		
		&:last-child { 
			color: $breadCrumbColorActive; 
			.dark-bg & { color: #fff; }
		}
		
		&:hover { color: $breadCrumbColorHover !important; }
		
		@media screen and (max-width: 500px) {
			& { 
				display:block; 
				&:before { display:none; }
			}
		}
		
	}

}

a.inline,
.article-body a.inline,
.article-body span a,
.article-body p a,
.article-body li a,
.article-body blockquote a {
	display: inline-block; 
	position: relative; 
	z-index: 1; 
	white-space: nowrap; 
	
	color: $linkColor;
	.dark-bg & { color: $darkBackgroundLinkColor; }
	
	&.visited,
	&:visited {
		color: $visitedColor;
		.dark-bg & { color: $darkBackgroundVisitedColor; }
	}
	
	&.hover,
	&:hover {
		color: $hoverColor;
		.dark-bg & { color: $darkBackgroundHoverColor; }
	}
	
}